<div id="page-wrapper">
    <div class="privacy py-sm-5 py-4">
        <div class="main-page py-xl-4 py-lg-2">
            <!-- //tittle heading -->
            <table class="table">
                <thead>
                    <tr>
                        <th class="title3" scope="col">Mã Sản Phẩm</th>
                        <th scope="col">Sản phẩm</th>
                        <th scope="col">Loại sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá</th>
                        <th scope="colgroup">Tùy chọn</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if data}}
                    {{#each data}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td><div class="imgofProduct"><img src="/images/{{this.img}}" alt=" " height="100px"></div></td>
                        <td>{{this.brand}}</td>
                        <td>{{this.count}}</td>
                        <td>{{this.price}}</td>
                        <td>
                            <button onclick="window.location.href='/products/update?id={{this._id}}';">Sửa</button>
                            <button onclick="window.location.href='/products/delete?id={{this._id}}';">Xóa</button>
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>
        </div>
    </div>
</div>
