<div id="page-wrapper">
    <div class="privacy py-sm-5 py-4">
        <div class="main-page py-xl-4 py-lg-2">
            <!-- //tittle heading -->
            <table class="table">
                <form method="post">
                    <tbody>
                      {{#if data}}
                        <tr>
                            <td>Tên tài khoản</td>
                            <td><input type="text" name="username" value="{{this.username}}"/></td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><input type="text" name="pw" value="{{this.pw}}"/></td>
                        </tr>
                        <tr>
                            <td>Tên người dùng</td>
                            <td><input type="text" name="name" value="{{this.name}}"/></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><input type="text" name="email" value="{{this.email}}"/></td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td><input type="text" name="phone" value="{{this.phone}}"/></td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td><input type="text" name="gender" value="{{this.gender}}"/></td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td><input type="text" name="address" value="{{this.address}}"/></td>
                        </tr>
                        {{/if}}
                    </tbody>
                </form>
            </table>
        </div>
    </div>
</div>
