<div id="page-wrapper">
    <div class="privacy py-sm-5 py-4">
        <div class="main-page py-xl-4 py-lg-2">
            <!-- //tittle heading -->
            <table class="table">
                <form method="post">
                    <tbody>
                      {{#if data}}

                        <tr>
                            <td>Tên tài khoản</td>
                            <td>{{data.username}}</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>{{data.pw}}</td>
                        </tr>
                        <tr>
                            <td>Tên người dùng</td>
                            <td>{{data.name}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{data.email}}</td>
                        </tr>
                        <tr>
                            <td>Số điện thoại</td>
                            <td>{{data.phone}}</td>
                        </tr>
                        <tr>
                            <td>Giới tính</td>
                            <td>{{data.gender}}</td>
                        </tr>
                        <tr>
                            <td>Địa chỉ</td>
                            <td>{{data.address}}</td>
                        </tr>

                        {{/if}}
                    </tbody>
                </form>
            </table>
        </div>
    </div>
</div>
